* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(3, 20, 66);
}

.wrapper {
  width: 480px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.logo {
  width: 100%;
  height: 100%;
  /* padding-bottom: 56.25%; */
  position: relative;
  display: flex;
  align-items: center;
}
.logo__outline {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* kuruvilla */
/* .logo__vill {
  height: 100%;
  transform: scaleX(0.96) translateX(-1%);
}
.logo__dev {
} */

/* developer */
/* .logo__vill {
  display: none;
}
.logo__dev {
  height: 100%;
  transform: scale(0.7, 0.85) translateX(-16%);
} */

/* original */
.logo__vill {
  height: 100%;
  transform: translateX(-50%);
}
.logo__dev {
  height: 100%;
  transform: translateX(-39%);
}
